footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;

.button{
    // margin-top: 100px;
    a{
        background-color: #ffb606;
    }
}

.hr_grey{
    background-color: #5f5e5e;
    height: 1px;
    // margin-top: 100px;
}
.pen_course{
    margin-bottom: 20px;
    .header__title{
        color: white; 
    }
}

}

.flexnav{
    display: flex;
    flex-direction: column;
}
nav{
    gap: 15px;
        a{
            color: #5f5e5e;
        }
        
    }

.footer__nav_contact{
    margin-bottom: 20px;
}

.copyrights{
    display: flex;
    div{
        font-size: 12px;
    }
    div:nth-of-type(1){
        border-right: 1px solid #5f5e5e;
        margin-right: 8px;
        padding-right: 8px;

    }
    a{
        color: blue;
        text-transform: capitalize
        ;
    }
}

.footer_end{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__social_logos{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 80px;
}
