.contact_page{
    h1{
        margin-bottom: 100px;
    }
    .search{
        background: none;
        margin-bottom: 100px;
    }

    input , textarea{
        background-color: #f8f4f4;
    }
    textarea{
        color: #6e6e6e;
        border: 0;
        padding-left: 20px;
    }
    
    .join{
        h1{
            margin-bottom: 40px;
        }
        .service{
           margin-left: 0;
        }
    }

    .footer__nav{
        margin-top: 40px;
    }
}